body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    height: 75px;
    padding: 16px;
    background-color: #00574B;
    box-shadow: 0 5px 5px darkgrey;
    margin-bottom: 10px;
}

.content{
    padding: 16px;
    display: none;
    flex-direction: column;
    margin-left: 8%;
    margin-right: 8%;
}

h3{
    color: #008577;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    border-radius: 5px;
    margin-bottom: 32px;
    margin-right: 2%;
    box-shadow: 5px 5px 5px darkgrey;
    cursor: pointer;
}

.grid:hover{
    opacity: 0.5;
}

.light-button{
    background-color: white;
    color: black;
    text-align: center !important;
    font-weight: bolder;
}

.light-button:hover {
    opacity: 0.7;
}

#map { position:relative; height: 85%; top:0; bottom:0; width:100%; }

#info {position:absolute; height: calc(100% - 100px); top:0px; left:0; padding-right: 15%; padding-left: 15%; width:100%; visibility: hidden; margin-top: 100px}

.column {
    float: left;
    width: 50%;
    height: fit-content;
}

.image_thumbnail {height: 150px; width:150px; margin:15px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#menu {
    position: relative;
    padding: 8px;
    text-align: center;
    background-color: lightgrey;
    color: #454545;
    border-radius: 0 0 5px 5px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.gallery {
    display: none;
}

.marker_image {
    background-image: url('resources/images/blue_marker_photo.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_voice {
    background-image: url('resources/images/blue_marker_mic.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

#user_name {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    margin-right: 20px;
    text-align: center !important;
    font-size: 24px;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu{
    padding: 0;
}

.dropdown-menu li:hover{
    background-color: whitesmoke;
}

*:focus{
    outline: 0;
}

.dropdown-submenu{
    padding: 12px 16px 8px 8px;
    cursor: pointer;
}

.dropdown-menu>.dropdown-submenu:hover{
    background-color: whitesmoke;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -9px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}