body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    padding: 16px;
    background-color: #00574B;
    box-shadow: 0 5px 5px darkgrey;
    margin-bottom: 10px;
}

.content{
    padding: 16px;
    display: none;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}

h3, h6{
    color: #008577;
}

.grid{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    padding: 16px;
    width: 200px;
    height: 200px;
    background-color: lightgrey;
    border-radius: 5px;
    margin-bottom: 32px;
    margin-right: 2%;
    box-shadow: 5px 5px 5px darkgrey;
    cursor: pointer;
}

.grid:hover{
    opacity: 0.5;
}

.light-button{
    background-color: white;
    color: black;
    text-align: center !important;
    font-weight: bolder;
}

.light-button:hover {
    opacity: 0.7;
}

#map { position:relative; height: 300px; min-height: 300px; top:-40px; width:100%; }

#info { height: calc(90% - 100px); top:0px; left:0; overflow: hidden; width:100%; visibility: hidden; }

.column {
    float: left;
    width: 50%;
    height: fit-content;
}

.image_thumbnail {height: 150px; width:150px; margin:15px;}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#menu {
    position: relative;
    z-index: 3;
    align-self: flex-end;
    height: 40px;
    padding: 8px 16px 8px 16px;
    text-align: center;
    background-color: lightgrey;
    opacity: 0.8;
    color: #454545;
    border-radius: 0 0 0 5px;
    width: fit-content;
    font-family: 'Open Sans', sans-serif;
}

.gallery {
    display: none;
    padding: 0 24px 0 24px;
    margin-left: 24px;
    margin-right: 24px;

}

.marker_image {
    background-image: url('resources/images/blue_marker_photo.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.marker_voice {
    background-image: url('resources/images/blue_marker_mic.png');
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

#user_name {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: white;
    margin-right: 20px;
    text-align: center !important;
    font-size: 24px;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu{
    padding: 0;
}

.dropdown-menu li:hover{
    background-color: whitesmoke;
}

*:focus{
    outline: 0;
}

.dropdown-submenu{
    padding: 12px 16px 8px 8px;
    cursor: pointer;
}

.dropdown-menu>.dropdown-submenu:hover{
    background-color: whitesmoke;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -9px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* Tooltip text */
.grid .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;



    /* Fade in tooltip */
    opacity: 100;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.grid .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.grid:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}